backports.weakref==1.0.post1
bleach==3.3.0
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
html5lib==0.999999999
Markdown==2.6.10
mock==2.0.0
numpy==1.22.0
pandas==0.21.1
pbr==3.1.1
protobuf==3.18.3
python-dateutil==2.6.1
pytz==2017.3
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
tensorflow==2.11.1
tensorflow-tensorboard==0.4.0rc3
Werkzeug==2.2.3
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
